.stafflist-container {
    padding: 20px;
}

.stafflist-title {
    text-align: center;
    color: #d32f2f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.stafflist-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.stafflist-card {
    width: 300px;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.stafflist-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.stafflist-card-header {
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.stafflist-card-body {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 15px;
}

.stafflist-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    margin-bottom: 10px;
}
