*{
    padding: 0%;
    margin: 0%;
}
.list{
    text-align: center;
    font-size: 20px;
    padding-top: 35px;
    
}
.list a{
    text-decoration: none;
    color: grey;
}

.list a:hover{
    color: red;
}
