.staff-container {
    padding: 20px;
}

.staff-title {
    text-align: center;
    color: #d32f2f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.staff-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.staff-card {
    width: 300px;
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.staff-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.staff-card-header {
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.staff-card-body {
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 15px;
}

.staff-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    /* border: 3px solid #d32f2f; */
    /* box-shadow: 1px 2px 3px red; */
    margin-bottom: 10px;
}