body {
  background-color: white;
}

.table-container {
  width: 100%;
  height: 600px;
  transition: width 0.5s;
  overflow-y: auto;
  position: relative;
  z-index: 1;
}

.table thead {
  background-color: rgba(251, 53, 53, 0.76);
  color: white;
}

.side-div {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  width: 40%;
  background-color: #dfdbdbc1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: auto;
  z-index: 2;
}

.show-div {
  display: block;
}

.shrink-table {
  width: 60% !important;
}

.btn-warning.update-btn {
  background-color: lightyellow;
  color: black;
}

.btn-warning.update-btn:hover {
  background-color: #f7e8a2;
}
